# Ignore virtual environment directory
Lib/

# Ignore Scripts directory
Scripts/

# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo

# Ignore environment variable files
*.env

# Ignore IDE specific files
.vscode/
.idea/

# Ignore logs
*.log

# Ignore configuration files that may contain sensitive data
username_line.txt

# Ignore pyvenv configuration file
pyvenv.cfg

